/* 
    Document   : generic
    Created on : Jul 11, 2008, 3:37:14 PM
    Author     : Sunny_Gujjaru
    Description:
        Purpose of the stylesheet follows.
*/
font
{
    font-family : Verdana;
    font-size   : 10px;
    color       : RGB(44,176,207) ;
}
h3
{
    font-family : Arial,Helvetica,sans-serif;
    font-size   : 20px;
    color       : black ;
}
body
{
    background-color: RGB(153,204,102) ;
}
#table
{
    font-family : Verdana,Arial,Helvetica,sans-serif ;    
    font-size   : 10px ;
    border-color:RGB(0,64,128);
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    color       : #707276 ;    
}
tr
{
    font-family : Verdana,Arial,Helvetica,sans-serif ;
    border  : 1px 1px 1px 1px ;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    font-size   : 12px ;
    border-color: #afcdd6 ;
    color: RGB(0,64,128);
}
#caption
{
    background-color:#ebebeb ;
    font-family : Verdana,Arial,Helvetica,sans-serif ;
    font-size   : 12px ;
    color       : RGB(0,64,128) ;
}
#button
{
    font-family : Verdana;
    font-size   : 10px;
    color       :RGB(0,64,128) ;
}

